@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <h1 class="text-white">Hello Honey!</h1>
    <p class="text-white">Welcome to your personalized site :D</p>
    <br /> <br />
    <p>Remember when I said I was gonna start a personalized project? Well, this is it!</p>
    <p>I just had this cute idea to create a website for you, and it kept growing to the point of having a photo album of us, cards, that one video 
        I sent you for V-Day, and our achievements together</p>
    <p>This is yours to keep, and I can edit it in the future to however you want. This is all yours to manage :)</p>
    <br /> <br />
    <p>I hope you like it, and go browse! I love you so much! <3</p>
    <p><em>-Maye xoxo</em></p>

</div>