@{
    ViewData["Title"] = "Home";
}

@BodyContent
<div class="text-center">
    <br />
    <h1 class="text-white">Hello Honey!</h1>
    <p class="text-white">Welcome to your personalized site :D</p>
</div>

@*CARD*@
<div class="box">
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/forest.jpg"/>
            </div>
            <div class="back face">
                <h1>Peace</h1>
                <br />
                <p class="artist">You give me so much peace</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/moon.jpg"/>
            </div>
            <div class="back face">
                <h1>Light</h1>
                <br />
                <p class="artist">You are my light on my darkest days</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/sunset.jpg"/>
            </div>
            <div class="back face">
                <h1>Mahal Kita</h1>
                <p class="artist">Kulang ako kung wala ka</p>
                <p class="artist">[I'm not complete when you're not here]</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/plane.jpg"/>
            </div>
            <div class="back face">
                <h1>I Miss You</h1>
                <br />
                <p class="artist">I can't wait to be able </p>
                <p class="artist">to see you again</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/moments.webp"/>
            </div>
            <div class="back face">
                <h1>Moments</h1>
                <br />
                <p class="artist">I love all our moments we have</p>
                <p class="artist">together, especially the small ones</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/ring.jpg"/>
            </div>
            <div class="back face">
                <h1>L.O.M.L.</h1>
                <br />
                <p class="artist">You are my person, the one I</p>
                <p class="artist">always want to be with</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/love.jpg"/>
            </div>
            <div class="back face">
                <h1>Heart</h1>
                <br />
                <p class="artist">You're my rock, my best friend... You are everything to me. I love you so much honey</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>
    <div id="card-container">
        <div id="card">
            <div class="front face">
                <img src="images/peace.webp"/>
            </div>
            <div class="back face">
                <h1>Inner Child</h1>
                <br />
                <p class="artist">My inner child is healing... it's because you give me so much peace</p>
                <p class="date">2022</p>
            </div>
        </div>
    </div>


    <div id="card-container">
    </div>
</div>