@{
    ViewData["Title"] = "Video";
}

<div class="text-center">
    <br />
    <h1 class="display-4 text-white">From The Ground Up Cover</h1>
    <p class="text-white">Valentine's Day Gift <3</p>
    <br />
    <video controls width="650" height="450">
        <source src="@Url.Content("~/Videos/ForMik.mp4")" type="video/mp4" />
    </video>
    <br />
    <hr />
    <br />
    <h1 class="display-4 text-white">Perfect Cover</h1>
    <p class="text-white">2 Year Anniversary Gift</p>
    <audio controls>
        <source src="@Url.Content("~/Videos/Perfect Song Cover.mp3")" type="audio/mp3" />
    </audio>
</div>